<!DOCTYPE html>
<html>
<head>
  <title>LiveTrack — Realtime GPS Parties</title>

  <link rel="stylesheet" href="/css/style.css">

  <link rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>


<body>

  <!-- 🌟 TOP NAV -->
  <div id="topbar">

    <div class="left">
      <div id="logo">LiveTrack</div>

      <div id="statusBadge" class="badge red">
        Not in party
      </div>

      <div class="codeBox">
        Code: <span id="code">—</span>
      </div>

      <button class="topbtn" onclick="createParty()">Create Party</button>
      <button class="topbtn" onclick="joinParty()">Join Party</button>
    </div>

    <button id="sosBtn" class="topbtn">🚨 SOS</button>

  </div>


  <!-- MAP -->
  <div id="map"></div>


  <!-- TOAST -->
  <div id="toast" class="toast"></div>


  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/script.js"></script>

</body>
</html>
